@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(./assets/fonts/Quicksand-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(./assets/fonts/Quicksand-Bold.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  height: 100%;
  background: #f3ed1f;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  /*background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.56) 51%, rgba(0,0,0,0.13) 100%);*/
  /*background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0.56) 51%,rgba(0,0,0,0.13) 100%);*/
  /*background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0.56) 51%,rgba(0,0,0,0.13) 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#21000000',GradientType=1 );*/
}

.button:not(.is-white) {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.button:not(.is-white):hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.button.is-link {
  background-color: #f3ed1f;
  border-color: transparent;
  color: #000;
}

.button.is-link:hover {
  background-color: #ccc61c;
}

.table tr.is-selected {
  background-color: #f3ed1f;
  color: #000;
}

.add-form {
  margin: 10px 10px 0 0;
}

.participant-title {
  position: relative;
}

.participant-result {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
